{
  "root": true,
  "extends": ["@localize/eslint-config"],
  "parserOptions": {
    "project": ["tsconfig.eslint.json"]
  },
  "settings": {
    "tailwindcss": {
      "config": "tailwind.config.cjs"
    }
  }
}
